@import "styles/home.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.horizontal-slider {
  width: 100%;
  height: 2px;
  background-color: #cdd9ed;
  margin-top: 20px;
}
.horizontal-slider .example-track {
  height: 10px;
}
.example-track.example-track-0 {
}

.example-track.example-track-1 {

}

.horizontal-slider .example-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: grab;
  border: 2px solid #275efe;
  top: -10px;
}

